services:
  devcontainer:
    image: mcr.microsoft.com/dotnet/sdk:8.0
    volumes:
      - .:/workspace
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /workspace
    command: sleep infinity
    environment:
      DOTNET_CLI_TELEMETRY_OPTOUT: "1"
